:where(html) {
  --ratio-square: 1;
  --ratio-landscape: 4/3;
  --ratio-portrait: 3/4;
  --ratio-portrait-small: 1/1.15;
  --ratio-widescreen: 16/9;
  --ratio-ultrawide: 18/5;
  --ratio-universal: 2/1;
  --ratio-golden: 1.6180/1;
}